<section id="features" class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 bg-grey">
                <img src="<%= assets %>/product_2.png" alt="Product img 1" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Inspectability</h2>
                <p class="lead mb-0">
                    Our ventilated access strips offer easy access to the underside of a balcony, deck
                    or external extremity. This allows you to inspect the balcony
                    / deck for mold or rot without damaging or removing the soffit.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 bg-grey">
                <img src="<%= assets %>/product_3.png" alt="Product img 3" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Ventilation</h2>
                <p class="lead mb-0">
                    Lack of efficient ventilation may cause wooden joists to mold and rot. Balcony
                    Inspection Vents provide a level of airflow and ventilation
                    that will help prevent mold, rot and mildew from diminishing
                    the balcony's structural integrity.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 bg-grey">
                <img src="<%= assets %>/product_4.png" alt="Product img 4" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Compliance</h2>
                <p class="lead mb-0">
                    Regular balcony and deck inspections are fast becoming city and state law throughout
                    the US. However, compliance does not have to be difficult or
                    expensive. Our ventilation strips and panels offer easy inspection
                    access to the underside of a balcony or deck, making compliance
                    simple.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 bg-grey">
                <img src="<%= assets %>/product_5.png" alt="Product img 5" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Fire, ember and bug resistant</h2>
                <p class="lead mb-0">
                    Balcony Inspection Vents have a fire and ember safe interior layer combined with
                    a bug resistant mesh layer. Inspect, ventilate and comply without
                    causing a fire hazard.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 bg-grey">
                <img src="<%= assets %>/product_7.png" alt="Product img 6" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Durability</h2>
                <p class="lead mb-0">
                    Made from stainless steel, our vents are extremely durable as well as rust proof.
                    Vents can be painted or powder coated to your liking.
                </p>
            </div>
        </div>
    </div>
</section>
